*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(5, 68, 103);
    font-size: 3em;
    text-align: center;
}

